span.verde{
    color: green;
}
span.vermelho{
    color: red;
}
div#ale{
    background-color: black;
    padding: 50px;
}
div#ma{
    background-color: red;
    color: red;
    padding: 50px;
}
div#nha{
    background-color: yellow;
    color: yellow;
    padding: 50px;
}